<h1 mat-dialog-title>Fill Employee Details</h1>
<form [formGroup]="formGroup" class="form">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
        Name cannot be blank.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
        {{getErrorEmail()}}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="formGroup" cdkFocusInitial [disabled]="!formGroup.valid">Save</button>
  </div>
</form>